In [7]:
# using Pkg
# Pkg.add("CSV")
# Pkg.add("DataFrames")
# Pkg.add("CPUTime")
# #Pkg.clone("https://github.com/schmrlng/CPUTime.jl.git")
# Pkg.add("ProfileView")
# Pkg.add("Profile")
# Pkg.add("Dates")
# Pkg.update()
println("Starting location: $(Base.source_dir())")

Starting location: /home/jovyan/work/notebooks

In [12]:
using Dates, CSV, DataFrames, CPUTime, ProfileView, Profile;

dfmt = dateformat"yyyy-mm-dd HH:MM:SS"

println("Started process at: $(Base.source_dir())")
df = convert(DataFrame, CSV.read("$(Base.source_dir())/../data/sample_100000.csv", dateformat=dfmt))
println(nrow(df))
head(df)

Started process at: /home/jovyan/work/notebooks
99999

6×18 DataFrame. Omitted printing of 15 columns
│ Row │ VendorID │ tpep_pickup_datetime │ tpep_dropoff_datetime │
│     │ Int64⍰   │ DateTime⍰            │ DateTime⍰             │
├─────┼──────────┼──────────────────────┼───────────────────────┤
│ 1   │ 2        │ 2015-01-08T22:44:09  │ 2015-01-08T22:50:56   │
│ 2   │ 1        │ 2015-01-08T22:44:09  │ 2015-01-08T22:51:17   │
│ 3   │ 1        │ 2015-01-08T22:44:10  │ 2015-01-08T22:55:27   │
│ 4   │ 1        │ 2015-01-08T22:44:10  │ 2015-01-08T22:58:09   │
│ 5   │ 1        │ 2015-01-08T22:44:12  │ 2015-01-08T22:46:16   │
│ 6   │ 2        │ 2015-01-08T22:44:12  │ 2015-01-08T22:48:33   │

In [13]:
function reduce_dataframe(data_frame)
  return data_frame[[:VendorID, :tpep_pickup_datetime, :tpep_dropoff_datetime, :passenger_count]]
end
#df = reduce_dataframe(df)

function sort_data()
  return sort!(df, [:VendorID, :tpep_pickup_datetime])
end

@time @CPUtime df = sort_data()

head(df)

elapsed CPU time: 0.27 seconds
  0.273440 seconds (4.69 M allocations: 83.899 MiB, 7.15% gc time)

6×18 DataFrame. Omitted printing of 15 columns
│ Row │ VendorID │ tpep_pickup_datetime │ tpep_dropoff_datetime │
│     │ Int64⍰   │ DateTime⍰            │ DateTime⍰             │
├─────┼──────────┼──────────────────────┼───────────────────────┤
│ 1   │ 1        │ 2015-01-01T00:00:00  │ 2015-01-01T00:11:26   │
│ 2   │ 1        │ 2015-01-01T00:00:01  │ 2015-01-01T00:03:49   │
│ 3   │ 1        │ 2015-01-01T00:00:04  │ 2015-01-01T00:10:44   │
│ 4   │ 1        │ 2015-01-01T00:00:06  │ 2015-01-01T00:00:48   │
│ 5   │ 1        │ 2015-01-01T00:00:07  │ 2015-01-01T00:11:26   │
│ 6   │ 1        │ 2015-01-01T00:00:07  │ 2015-01-01T00:11:07   │